* {
    padding     : 0;
    margin      : 0;
    box-sizing  : border-box;
    font-family : 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

.container {
    max-width : 1200px;
    margin    : 0 auto;
    z-index   : 1;
}

/**
Header
 */
.header {
    width      : 100%;
    z-index    : 2;
    background : #454545;
    height     : 100px;
    position   : fixed;
}

.slider_section {
    background-color : #ECAB00;
}

.slider_section .container {
    padding-top : 120px;
}

.header_body {
    display               : grid;
    grid-template-columns : 1fr 2fr;
}

.header_list {
    align-self      : center;
    justify-self    : center;
    display         : flex;
    justify-content : space-between;
}

.header_list li {
    list-style  : none;
    margin-left : 60px;
}

.header_list li a {
    text-decoration : none;
    font-size       : 24px;
    color           : white;
}

.header_social_networks {
    display         : flex;
    justify-content : center;
    align-self      : center;
    justify-self    : center;
}

.header_social_networks a {
    align-self   : center;
    justify-self : center;
    padding      : 5px;
    transition   : 2s;
}

.header_social_networks a:hover {
    background : radial-gradient(#000, #000, #454545, #454545, #454545);
}

.header_social_networks a img {
    height : 20px;
}

.header_nav {
    display         : flex;
    justify-content : space-around;
}
.footer {
    display: flex;
    justify-content: space-around;
    width      : 100%;
    background : #454545;
    height     : 110px;
}
